.navbar {
	top: 0;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #4051b8;
	padding: 10pt 8.33%;
	box-shadow: $shadow-md;
	z-index: 9999;

	&--brand {
		font-size: 20px;
		font-weight: 700;
		color: whitesmoke;
	}

	&--menu {
		list-style: none;
		display: flex;

		li {
			margin-left: 10pt;

			a {
				text-decoration: none;
				padding-bottom: 1pt;
				color: whitesmoke;

				&:hover {
					border-bottom: 1pt solid currentColor;
				}
			}
		}
	}
}
