$c1: #ebebeb;
$c2: #eef5fc;
$c3: #b214bf; // links
$c4: #1c1e26; // dark

$font: "google sans", sans-serif;
$font-alt: "alegreya sans";

$shadow-sm: 0 0pt 4pt #50505040;
$shadow-md: 0 0pt 8pt 2pt #50505040;
