/* line 1, ../../Work/django/twitter_clone/static/sass/_layout.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../Work/django/twitter_clone/static/sass/_layout.scss */
html,
body {
  font-family: "google sans", sans-serif;
  letter-spacing: 0.2vmin;
  background: #eef5fc;
}

/* line 14, ../../Work/django/twitter_clone/static/sass/_layout.scss */
main {
  max-width: 83.33%;
  margin: 5em auto;
  margin-bottom: 10pt;
}

/* line 20, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#tweets,
#create {
  display: grid;
  border-radius: 3pt;
  background: transparent;
  row-gap: 10pt;
  max-width: 75%;
  margin: auto;
}

/* line 33, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#tweets .tweet {
  box-shadow: 0 0pt 4pt #50505040;
  background: #ebebeb;
  padding: 15pt 20pt;
}

/* line 39, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#tweets .tweet p {
  font-family: "alegreya sans";
  margin-bottom: 10pt;
}

/* line 46, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#create {
  margin-bottom: 10pt;
  border: 1pt solid #e0e0e0;
  background: #f5f5f5;
}

/* line 51, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#create textarea {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 10pt;
  resize: none;
}

/* line 59, ../../Work/django/twitter_clone/static/sass/_layout.scss */
#create button {
  float: right;
  margin: 8pt;
  background: #1976d2;
}

/* line 1, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4051b8;
  padding: 10pt 8.33%;
  box-shadow: 0 0pt 8pt 2pt #50505040;
  z-index: 9999;
}

/* line 13, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar--brand {
  font-size: 20px;
  font-weight: 700;
  color: whitesmoke;
}

/* line 19, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar--menu {
  list-style: none;
  display: flex;
}

/* line 23, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar--menu li {
  margin-left: 10pt;
}

/* line 26, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar--menu li a {
  text-decoration: none;
  padding-bottom: 1pt;
  color: whitesmoke;
}

/* line 31, ../../Work/django/twitter_clone/static/sass/_navbar.scss */
.navbar--menu li a:hover {
  border-bottom: 1pt solid currentColor;
}

/* line 1, ../../Work/django/twitter_clone/static/sass/_button.scss */
button {
  max-width: 200pt;
  font-size: 10pt;
  text-transform: uppercase;
  word-wrap: break-word;
  background: #1c1e26;
  margin-right: auto;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 4pt 8pt;
  color: #ebebeb;
  border-radius: 3pt;
}

/* line 16, ../../Work/django/twitter_clone/static/sass/_button.scss */
button:hover {
  background: #474c61;
}

/* line 19, ../../Work/django/twitter_clone/static/sass/_button.scss */
button:active {
  background: #3c4152;
}

/* zoomed entry */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/* fades in to screen */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* spin */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*# sourceMappingURL=style.css.map */