$c1: #EBEBEB;
$c2: #D6D2D0;
$c3: #B214BF;   /* links */
$c4: #1C1E26;   /* dark */

$font: 'google sans', sans-serif;
$font-alt: 'alegreya sans';

$shadow-sm: 0 0pt 4pt #50505040;
$shadow-md: 0 0pt 8pt #50505040;